@import "tailwindcss";

@layer base {
  input, textarea, select {
    @apply bg-gray-50/50 border-0 ring-1 ring-gray-200 transition-all duration-300;
    color: #0a0a0a;
  }
  
  input:focus, textarea:focus, select:focus {
    @apply ring-black ring-offset-0 bg-white shadow-lg;
    outline: none;
  }

  input::placeholder { color: #a1a1aa; }
}

:root {
  :root {
  /* INDUSTRIAL PALETTE */
  --background: #ffffff; /* Blanco puro, clínico */
  --foreground: #09090b; /* Zinc-950 (Negro técnico) */
  
  --card-bg: #ffffff;
  --border-subtle: #e4e4e7; /* Zinc-200 (Gris frío y nítido) */
}
}

/* FIX AUTOCOMPLETADO */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: #0C0A09 !important;
    -webkit-box-shadow: 0 0 0 30px #FAFAF9 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif); /* AÑADIR ESTO */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Crucial para que la fuente se vea delgada y premium */
}