@import "tailwindcss";

/* --- ESTA LÍNEA HACE FUNCIONAR EL MODO OSCURO CON EL BOTÓN --- */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
   textarea, select {
    @apply bg-gray-50/50 border-0 ring-1 ring-gray-200 transition-all duration-300;
    color: #0a0a0a;
  }

 
  
  input:focus, textarea:focus, select:focus {
    @apply ring-black ring-offset-0 border-[1.2px] border-[rgba(0,0,0,0.55)] bg-white shadow-lg;
    outline: none;
  }

  input::placeholder { color: #a1a1aa; }
}

:root {
  /* INDUSTRIAL PALETTE */
  --background: #ffffff;
  --foreground: #09090b;
  --card-bg: #ffffff;
  --border-subtle: #e4e4e7;
}

/* FIX AUTOCOMPLETADO */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Color del texto (Negro/Oscuro) */
    -webkit-text-fill-color: #0C0A09 !important;

    /* Fondo Blanco: Se logra con una sombra interna (inset) de color #ffffff */
  
    /* Mantiene el fondo blanco evitando que el navegador lo cambie */
    transition: background-color 5000s ease-in-out 0s;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased; 
}

/* Agrega esto al final de app/globals.css */
@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  75% { transform: rotate(-5deg); }
}
.animate-wiggle {
  animation: wiggle 1.5s ease-in-out infinite;
}

/* Animación para el Carrusel de Testimonios */
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-50% - 12px)); } /* 12px es la mitad del gap */
  }
  .animate-marquee {
    animation: marquee 40s linear infinite;
    will-change: transform;
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }
  
  /* Máscara de Desvanecimiento Lateral (Fade Edges) */
  .fade-edges {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }

  /* EFECTO HOVER DEL FOOTER */
  .footer-logo {
    color: transparent;
    -webkit-text-stroke: 1px #333333;
    transition: all 0.4s ease-in-out;
  }
  @media (min-width: 768px) {
    .footer-logo {
      -webkit-text-stroke: 2px #333333;
    }
  }
  .footer-logo:hover {
    color: #00cd61;
    -webkit-text-stroke: 2px #00cd61;
    filter: drop-shadow(0px 0px 40px rgba(0, 205, 97, 0.4));
  }